.loadingWrapper {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    animation: fade-out 0.5s linear 2.5s;
}

@keyframes fade-out {
    to {
        opacity: 0;
        background-color: transparent;
    }
}

.loadingBike {
    display: block;
    margin: auto;
    width: 16em;
    height: auto;
    padding: 0 0.5rem;
    font-size: 1.5em;
}

.bikeFrame,
.bikeFrontFork,
.bikeHandlebars,
.bikePedals,
.bikePedalsSpin,
.bikeSeat,
.bikeSpokes,
.bikeSpokesSpin,
.bikeTire {
    animation: bike-frame-animation 3s ease-in-out infinite;
    stroke: var(--primary);
}

.bikeSpokes,
.bikeTire {
    stroke: var(--text);
}

.bikeFrontFork {
    animation-name: front-fork-animation;
}

.bikeHandlebars {
    animation-name: handle-bars-animation;
}

.bikePedals {
    animation-name: pedals-animation;
}

.bikePedalsSpin {
    animation-name: pedals-spin-animation;
}

.bikeSeat {
    animation-name: seat-animation;
}

.bikeSpokes {
    animation-name: spokes-animation;
}

.bikeSpokesSpin {
    animation-name: spokes-spin-animation;
}

.bikeTire {
    animation-name: tire-animation;
}

@keyframes bike-frame-animation {
    from {
        stroke-dashoffset: 79;
    }

    33%,
    67% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -79;
    }
}

@keyframes front-fork-animation {
    from {
        stroke-dashoffset: 19;
    }

    33%,
    67% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -19;
    }
}

@keyframes handle-bars-animation {
    from {
        stroke-dashoffset: 10;
    }

    33%,
    67% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -10;
    }
}

@keyframes pedals-animation {
    from {
        animation-timing-function: ease-in;
        stroke-dashoffset: -25.133;
    }

    33%,
    67% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -21.991;
    }

    to {
        stroke-dashoffset: -25.133;
    }
}

@keyframes pedals-spin-animation {
    from {
        transform: rotate(0.1875turn);
    }

    to {
        transform: rotate(3.1875turn);
    }
}

@keyframes seat-animation {
    from {
        stroke-dashoffset: 5;
    }

    33%,
    67% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -5;
    }
}

@keyframes spokes-animation {
    from {
        animation-timing-function: ease-in;
        stroke-dashoffset: -31.416;
    }

    33%,
    67% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -23.562;
    }

    to {
        stroke-dashoffset: -31.416;
    }
}

@keyframes spokes-spin-animation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(3turn);
    }
}

@keyframes tire-animation {
    from {
        animation-timing-function: ease-in;
        stroke-dashoffset: 56.549;
        transform: rotate(0);
    }

    33% {
        stroke-dashoffset: 0;
        transform: rotate(0.33turn);
    }

    67% {
        animation-timing-function: ease-out;
        stroke-dashoffset: 0;
        transform: rotate(0.67turn);
    }

    to {
        stroke-dashoffset: -56.549;
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 768px) {
    .loadingBike {
        font-size: 1em;
    }
}