:root {
  --font: "Wotfard", "Wotfard-fallback", sans-serif;
  --background: hsl(0deg, 0%, 100%);
  --primary: hsl(255deg, 85%, 30%);
  --secondary: hsl(333deg, 100%, 52%);
  --text: hsl(222deg, 22%, 5%);
  --card-background: hsl(0, 11%, 93%);
  --color-homepage-light: hsl(204, 87%, 70%);
  --color-homepage-dark: hsl(203, 76%, 31%);
}

body.dark-mode {
  --background: hsl(210deg, 30%, 8%);
  --primary: hsl(333deg, 100%, 52%);
  --secondary: hsl(255, 100%, 78%);
  --text: hsl(0deg, 0%, 100%);
  --card-background: hsl(211, 32%, 13%);
  --color-homepage-light: hsl(210deg, 30%, 20%);
  --color-homepage-dark: hsl(210deg, 30%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  &::-webkit-scrollbar {
    display: none;
  }
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#project,
#contact {
  padding-top: 10rem;
  margin-top: -5rem;
}